/* css/admin.css */
#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    /* Keep sidebar above everything */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-size: .875rem;
    padding: .75rem 1rem;
    color: #333;
}

.sidebar .nav-link.active {
    color: #007bff;
    font-weight: bold;
}

main {
    margin-left: 20%;
    /* Adjust based on sidebar width */
    padding-top: 48px;
    /* Adjust based on navbar height */
}

@media (max-width: 767.98px) {
    #sidebar {
        width: 100%;
        position: relative;
        padding: 0;
    }

    main {
        margin-left: 0;
    }
}