body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.profile-container form,
.profile-details form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-details {
    width: 100%;
}

.profile-details label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #444;
}

.profile-details input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.5rem;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.save-button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #ff4500;
}